<!DOCTYPE html>
<html lang="en" data-theme-color="skin-3">
<head>

		<!-- Title -->
	<title>ClinicMaster - Health & Medical Bootstrap Template</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="DexignZone">
	<meta name="robots" content="index, follow">
	<meta name="format-detection" content="telephone=no">
	
	<meta name="keywords" content="skincare HTML template, medical Bootstrap template, skincare clinic website, responsive medical template, skincare services design, Bootstrap medical HTML template, ClinicMaster skincare design, modern medical template, wellness website template, skincare clinic online presence">
	<meta name="description" content="ClinicMaster is a stylish Bootstrap HTML template designed for skincare and medical professionals. Ideal for showcasing skincare treatments, medical services, and wellness solutions with a modern, responsive design that enhances user experience and engagement.">
	
	<meta property="og:title" content="ClinicMaster - Health & Medical Bootstrap Template">
	<meta property="og:description" content="ClinicMaster is a stylish Bootstrap HTML template designed for skincare and medical professionals. Ideal for showcasing skincare treatments, medical services, and wellness solutions with a modern, responsive design that enhances user experience and engagement.">
	<meta property="og:image" content="https://clinicmaster.dexignzone.com/xhtml/social-image.png">
	
	<!-- TWITTER META -->
	<meta name="twitter:title" content="ClinicMaster - Health & Medical Bootstrap Template">
	<meta name="twitter:description" content="ClinicMaster is a stylish Bootstrap HTML template designed for skincare and medical professionals. Ideal for showcasing skincare treatments, medical services, and wellness solutions with a modern, responsive design that enhances user experience and engagement.">
	<meta name="twitter:image" content="https://clinicmaster.dexignzone.com/xhtml/social-image.png">
	<meta name="twitter:card" content="summary_large_image">
	
	<!-- CANONICAL URL -->
	<link rel="canonical" href="https://clinicmaster.dexignzone.com/xhtml/skincare/appointment.html">
	
	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- FAVICONS ICON -->
	<link rel="icon" type="image/x-icon" href="images/favicon.png">
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="../assets/vendor/tempus-dominus/css/tempus-dominus.min.css">
	
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">

</head>	
<body id="bg">
<div class="page-wraper">

	<div class="dz-preloader-3" id="dzPreloader">
	<div class="preloader-inner"></div>
</div>

		<!-- Header Star -->
	<header class="site-header header header-transparent style-2 header-light header-toggle">		
		
		<!-- Main Header -->
		<div class="sticky-header main-bar-wraper">
			<div class="main-bar clearfix">
				<div class="container-fluid clearfix inner-bar">
					
					<div class="extra-nav-left">
						<button type="button" class="toggler1" data-bs-toggle="offcanvas" data-bs-target="#headerSidebar" aria-controls="offcanvasLeft">
							<span></span>
							<span></span>
							<span></span>
						</button>
					</div>
					
					<!-- Website Logo -->
					<div class="logo-header logo-light">
						<a href="index.html"><img src="images/logo-white.svg" alt="logo"></a>
					</div>
					<div class="logo-header logo-dark">
						<a href="index.html"><img src="images/logo.svg" alt="logo"></a>
					</div>
					
					<!-- Nav Toggle Button -->
					<button class="w3menu-toggler navicon" type="button" data-target="#W3Menu">
						<span></span>
						<span></span>
						<span></span>
					</button>
					
					<!-- Main Nav -->
					<div class="menu-close fade-overlay"></div>
					<div class="header-nav w3menu w3menu-start mo-left" id="W3Menu">
						<div class="logo-header logo-dark">
							<a href="index.html"><img src="images/logo.svg" alt=""></a>
						</div>
						
						<ul class="nav navbar-nav">
	<li class="has-mega-menu sub-menu-down auto-width menu-left">
		<a href="javascript:void(0);"><span>Home</span> <i class="fas fa-chevron-down tabindex"></i></a>
		<div class="mega-menu">
			<ul class="demo-menu">
				<li>
					<a href="../skincare/index.html">
						<img src="../assets/images/demo/home3.jpg" alt="/">
						<span class="menu-title">01 Skin Care</span>
					</a>
				</li>
				<li>
					<a href="../dentist/index.html">
						<img src="../assets/images/demo/home2.jpg" alt="/">
						<span class="menu-title">02 Dentist</span>
					</a>
				</li>
				<li>
					<a href="../medical/index.html">
						<img src="../assets/images/demo/home1.jpg" alt="/">
						<span class="menu-title">03 Medical</span>
					</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="sub-menu-down">
		<a href="javascript:void(0);"><span>Pages</span> <i class="fas fa-chevron-down tabindex"></i></a>
		<ul class="sub-menu">						
			<li><a href="about-us.html">About Us</a></li>
			<li><a href="about-us-2.html">About Us 2</a></li>
			<li><a href="appointment.html">Appointment</a></li>
			<li><a href="pricing-table.html">Pricing Table</a></li>
			<li><a href="testimonial.html">Testimonial</a></li>
			<li><a href="faqs.html">Faqs</a></li>
			<li><a href="error-404.html">Error 404</a></li>
		</ul>
	</li>
	<li class="sub-menu-down">
		<a href="javascript:void(0);"><span>Team</span> <i class="fas fa-chevron-down tabindex"></i></a>
		<ul class="sub-menu">						
			<li><a href="team.html">Team</a></li>
			<li><a href="team-detail.html">Team Detail</a></li>
		</ul>
	</li>
	<li class="sub-menu-down">
		<a href="javascript:void(0);"><span>Services</span> <i class="fas fa-chevron-down tabindex"></i></a>
		<ul class="sub-menu">						
			<li><a href="services.html">Services</a></li>
			<li><a href="service-detail.html">Service Detail</a></li>
			<li><a href="service-detail-2.html">Service Detail 2</a></li>
		</ul>
	</li>
	<li class="sub-menu-down">
		<a href="javascript:void(0);"><span>Shop</span> <i class="fas fa-chevron-down tabindex"></i></a>
		<ul class="sub-menu">						
			<li><a href="shop.html">Shop</a></li>
			<li><a href="shop-details.html">Shop Details</a></li>
		</ul>
	</li>
	<li class="sub-menu-down">
		<a href="javascript:void(0);"><span>Blogs</span> <i class="fas fa-chevron-down tabindex"></i></a>
		<ul class="sub-menu">						
			<li><a href="blog-grid.html">Blog Grid</a></li>
			<li><a href="blog-list-sidebar.html">Blog List Sidebar</a></li>
			<li><a href="blog-details.html">Blog Details</a></li>
		</ul>
	</li>
	<li class="sub-menu-down">
		<a href="javascript:void(0);"><span>Contact Us</span> <i class="fas fa-chevron-down tabindex"></i></a>
		<ul class="sub-menu">						
			<li><a href="contact-us.html">Contact Us</a></li>
			<li><a href="contact-us-2.html">Contact Us 2</a></li>
		</ul>
	</li>
</ul>
						
						<div class="dz-social-icon">
							<ul>
								<li>
									<a href="https://www.linkedin.com" target="_blank">
										<i class="fa-brands fa-linkedin"></i>
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com" target="_blank">
										<i class="fa-brands fa-instagram"></i>
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com" target="_blank">
										<i class="fa-brands fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="https://twitter.com" target="_blank">
										<i class="fa-brands fa-x-twitter"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				
					<!-- EXTRA NAV -->
					<div class="extra-nav">
						<div class="extra-cell">						
							<ul class="header-right">
								<li class="nav-item">
									<a href="javascript:void(0);" class="nav-link cart-btn" data-bs-toggle="offcanvas" data-bs-target="#sidebarCart" aria-controls="sidebarCart">
										<i class="feather icon-shopping-cart"></i>
										<span class="badge badge-circle">5</span>
									</a>
								</li>
								<li class="nav-item item-call">
									<div class="info-widget style-5">
										<div class="widget-media">
											<i class="feather icon-phone-call dz-ring-effect"></i>
										</div>
										<div class="widget-content">
											<h6 class="title text-primary">Contact us?</h6>
											<a href="tel:+11234567890" class="text-secondary">+1 123 456 7890</a>
										</div>
									</div>
								</li>
								<li class="nav-item item-btn">
									<a href="appointment.html" class="btn btn-primary btn-hover1">
										Appointment
									</a>
								</li>
							</ul>
						</div>
					</div>
				
				</div>
			</div>
		</div>
		<!-- Main Header End -->
		
		<!-- Sidebar -->
<div class="offcanvas dz-offcanvas offcanvas offcanvas-end" tabindex="-1" id="headerSidebar">
	<button type="button" class="btn-close m-t10 m-l10" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	<div class="offcanvas-body">
		<div class="widget">
			<div class="sidebar-header m-b20">
				<a href="index.html"><img src="images/logo.svg" alt="/"></a>
			</div>
			<p>ClinicMaster is a modern and responsive Bootstrap HTML template designed for health and medical websites. Ideal for clinics, hospitals, and healthcare professionals seeking a professional online presence with an elegant and user-friendly design.</p>
		</div>
		
		<div class="widget">
			<div class="widget-title">
				<h4 class="title">Contact Us</h4>
			</div>
			<ul class="list-check">
				<li>785 15h Street, Office 478 Berlin, De 81566</li>
				<li><a href="mailto:email@domain.com" class="text-body">email@domain.com</a></li>
				<li><a href="tel:+11234567890" class="text-body">+1 123 456 7890</a></li>
			</ul>
		</div>
		
		<div class="widget">
			<div class="widget-title">
				<h4 class="title">Newsletter</h4>
			</div>
			<form class="dzSubscribe style-2" action="../assets/script/mailchimp.php" method="post">
				<div class="dzSubscribeMsg"></div>
				<div class="form-group">
					<div class="input-group mb-0">
						<input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email Address">
						<div class="input-group-addon">
							<button name="submit" value="Submit" type="submit" class="btn text-primary btn-transparent p-2">
								<i class="fa-solid fa-paper-plane"></i>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		
		<div class="widget">
			<div class="widget-title">
				<h4 class="title">Follow Us</h4>
			</div>
			<div class="dz-social-icon style-1">
				<ul>
					<li>
						<a href="https://www.linkedin.com" target="_blank">
							<i class="fa-brands fa-linkedin"></i>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com" target="_blank">
							<i class="fa-brands fa-instagram"></i>
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com" target="_blank">
							<i class="fa-brands fa-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="https://twitter.com" target="_blank">
							<i class="fa-brands fa-x-twitter"></i>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com" target="_blank">
							<i class="fa-brands fa-youtube"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Sidebar -->
		
		<!-- Sidebar cart -->
<div class="offcanvas dz-offcanvas offcanvas offcanvas-end" tabindex="-1" id="sidebarCart">
	<button type="button" class="btn-close m-t10 m-l10" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	<div class="offcanvas-body">
		<div class="sidebar-cart-wrapper">
			<h2 class="sidebar-title">Shopping Cart <span class="badge badge-primary badge-circle px-0">3</span></h2>
			<div class="shop-sidebar-cart">
				<ul class="sidebar-cart-list">
					<li>
						<div class="cart-widget">
							<div class="dz-media me-3">
								<img src="images/shop/img1.webp" alt="">
							</div>
							<div class="cart-content">
								<h3 class="title"><a href="shop-details.html">Herbal beauty</a></h3>
								<div class="d-flex align-items-center">
									<div class="btn-quantity quantity-sm style-2 me-3">
										<input type="text" value="1" class="quantity-input">
									</div>
									<h6 class="dz-price mb-0">$50.00</h6>
								</div>
							</div>
							<a href="javascript:void(0);" class="dz-close">
								<i class="feather icon-x"></i>
							</a>
						</div>
					</li>
					<li>
						<div class="cart-widget">
							<div class="dz-media me-3">
								<img src="images/shop/img2.webp" alt="">
							</div>
							<div class="cart-content">
								<h3 class="title"><a href="shop-details.html">Green beauty</a></h3>
								<div class="d-flex align-items-center">
									<div class="btn-quantity quantity-sm style-2 me-3">
										<input type="text" value="1" class="quantity-input">
									</div>
									<h6 class="dz-price mb-0">$50.00</h6>
								</div>
							</div>
							<a href="javascript:void(0);" class="dz-close">
								<i class="feather icon-x"></i>
							</a>
						</div>
					</li>
					<li>
						<div class="cart-widget">
							<div class="dz-media me-3">
								<img src="images/shop/img4.webp" alt="">
							</div>
							<div class="cart-content">
								<h3 class="title"><a href="shop-details.html">Sun beauty</a></h3>
								<div class="d-flex align-items-center">
									<div class="btn-quantity quantity-sm style-2 me-3">
										<input type="text" value="1" class="quantity-input">
									</div>
									<h6 class="dz-price mb-0">$50.00</h6>
								</div>
							</div>
							<a href="javascript:void(0);" class="dz-close">
								<i class="feather icon-x"></i>
							</a>
						</div>
					</li>
				</ul>
				<div class="cart-total">
					<h5 class="mb-0">Subtotal:</h5>
					<h5 class="mb-0">300.00$</h5>
				</div>
				<div class="mt-auto text-center">
					<a href="shop-checkout.html" class="btn btn-primary btn-hover1 mx-1">Checkout</a>
					<a href="shop-cart.html" class="btn btn-secondary btn-hover1 mx-1">View Cart</a>	
				</div>	
			</div>	
		</div>
	</div>
</div>
<!-- Sidebar cart -->
		
	</header>
	<!-- Header End -->
	
	<main class="page-content">
	
			<div class="dz-bnr-inr style-1 overlay-black-middle dz-bnr-inr-md" style="background-image:url(images/banner/bnr1.webp);">
		<div class="container">
			<div class="dz-bnr-inr-entry d-table-cell">
				<h1 class="wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">Appointment</h1>
				<nav aria-label="breadcrumb" class="breadcrumb-row wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Home</a></li>
						<li class="breadcrumb-item">Appointment</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="vertical-info left">
			<ul class="social-list wow fadeInLeft" data-wow-delay="0.4s" data-wow-duration="0.8s">
				<li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
				<li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
				<li><a href="https://twitter.com" target="_blank">twitter</a></li>
			</ul>
		</div>
		<div class="blur1"></div>
		<div class="blur2"></div>
		<div class="elip"><img src="images/hero-banner/img2.jpg" alt=""></div>
		<div class="item1">
			<svg width="61" height="61" viewBox="0 0 61 61" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M30.5 0L34.4251 26.5749L61 30.5L34.4251 34.4251L30.5 61L26.5749 34.4251L0 30.5L26.5749 26.5749L30.5 0Z" fill="#F46700"/>
			</svg>
		</div>
		<div class="item2">
			<svg width="102" height="102" viewBox="0 0 102 102" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g filter="url(#filter0_d_102_123)">
				<path d="M51 40L52.4156 49.5844L62 51L52.4156 52.4156L51 62L49.5844 52.4156L40 51L49.5844 49.5844L51 40Z" fill="#F46700"/>
				</g>
				<defs>
				<filter id="filter0_d_102_123" x="0" y="0" width="102" height="102" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
				<feFlood flood-opacity="0" result="BackgroundImageFix"/>
				<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
				<feOffset/>
				<feGaussianBlur stdDeviation="20"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
				<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_102_123"/>
				<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_102_123" result="shape"/>
				</filter>
				</defs>
			</svg>					
		</div>
		<div class="item3">
			<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M15 0L16.9304 13.0696L30 15L16.9304 16.9304L15 30L13.0696 16.9304L0 15L13.0696 13.0696L15 0Z" fill="#F46700"/>
			</svg>					
		</div>
	</div>  
		
		<section class="content-inner bg-light pb-0 overflow-hidden">
			<div class="container">
				<div class="row content-wrapper style-17 align-items-end justify-content-center">
					<div class="col-xl-5 col-lg-12 order-xl-1 m-b30 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
						<div class="content-info">
							<div class="form-wrapper style-2 bg-secondary">
								<div class="form-body">
									<div class="title-head">
										<h2 class="form-title m-b20">Book Your Appointment</h2>
									</div>
									<form action="../assets/script/contact_smtp.php" class="dzForm" method="POST">
										<input type="hidden" class="form-control" name="dzToDo" value="Appointment">
										<input type="hidden" class="form-control" name="reCaptchaEnable" value="0">
										<div class="dzFormMsg"></div>
										<div class="row">
											<div class="col-sm-12 m-b30">
												<div class="floating-underline underline-1 input-light input-icon-left">
													<span class="input-group-text text-primary"><i class="feather icon-user"></i></span>
													<input name="dzName" type="text" class="form-control" placeholder="Your Name">
												</div>
											</div>
											<div class="col-sm-12 m-b30">
												<div class="floating-underline underline-1 input-light input-icon-left">
													<span class="input-group-text text-primary"><i class="feather icon-mail"></i></span>
													<input name="dzEmail" type="email" class="form-control" placeholder="Your Email">
												</div>
											</div>
											<div class="col-sm-12 m-b30">
												<div class="floating-underline underline-1 input-light input-icon-left">
													<span class="input-group-text text-primary"><i class="feather icon-phone"></i></span>
													<input name="dzPhoneNumber" type="text" class="form-control" placeholder="Phone Number">
												</div>
											</div>
											<div class="col-sm-6 m-b30">
												<div class="floating-underline underline-1 input-light input-icon-left">
													<span class="input-group-text text-primary"><i class="feather icon-calendar"></i></span>
													<input name="dzOther[Time]" required type="text" class="form-control" id="datePickerOnly" placeholder="Date">
												</div>
											</div>
											<div class="col-sm-6 m-b30">
												<div class="floating-underline underline-1 input-light input-icon-left">
													<span class="input-group-text text-primary"><i class="feather icon-clock"></i></span>
													<input name="dzOther[Time]" required type="text" class="form-control" id="timePickerOnly" placeholder="Time">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-check2 m-b5">
													<input class="form-check-input" type="checkbox" value="" id="checkBox1">
													<label class="form-check-label" for="checkBox1">Skin Allergy Testing</label>
												</div>
												<div class="form-check2 m-b5">
													<input class="form-check-input" type="checkbox" value="" id="checkBox2">
													<label class="form-check-label" for="checkBox2">Laser Treatments</label>
												</div>
												<div class="form-check2 m-b5">
													<input class="form-check-input" type="checkbox" value="" id="checkBox3">
													<label class="form-check-label" for="checkBox3">Hair Fall Treatments</label>
												</div>
											</div>
											<div class="col-sm-6 m-b30">
												<div class="form-check2 m-b5">
													<input class="form-check-input" type="checkbox" value="" id="checkBox4">
													<label class="form-check-label" for="checkBox4">Plastic Surgery</label>
												</div>
												<div class="form-check2 m-b5">
													<input class="form-check-input" type="checkbox" value="" id="checkBox5">
													<label class="form-check-label" for="checkBox5">Acne Scar Treatment</label>
												</div>
												<div class="form-check2 m-b5">
													<input class="form-check-input" type="checkbox" value="" id="checkBox6">
													<label class="form-check-label" for="checkBox6">Pedicure</label>
												</div>
											</div>
											<div class="col-sm-12 m-t10">
												<button type="submit" name="submit" value="submit" class="btn btn-lg btn-white w-100">
													<i class="feather icon-calendar m-r5"></i> Book An appointment
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-7 col-lg-8 pe-xl-5 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
						<div class="content-media">
							<div class="dz-media">
								<img src="images/about/img5.webp" alt="">
							</div>
							<div class="item1">
								<svg viewBox="0 0 694 694" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="347" cy="347" r="346" stroke="var(--bs-primary)" stroke-opacity="0.1" stroke-width="2" stroke-dasharray="12 12"/>
									<circle cx="347" cy="347" r="296" stroke="var(--bs-primary)" stroke-opacity="0.2" stroke-width="2" stroke-dasharray="12 12"/>
									<circle cx="347" cy="347" r="244" stroke="var(--bs-primary)" stroke-opacity="0.3" stroke-width="2" stroke-dasharray="12 12"/>
									<circle cx="147.5" cy="206.5" r="6.5" fill="var(--bs-primary)"/>
									<circle opacity="0.3" cx="206.5" cy="30.5" r="4.5" fill="var(--bs-primary)"/>
									<circle opacity="0.6" cx="62.5" cy="433.5" r="2.5" fill="var(--bs-primary)"/>
									<ellipse opacity="0.6" cx="525" cy="109.5" rx="4" ry="3.5" fill="var(--bs-primary)"/>
									<circle cx="642.5" cy="361.5" r="3.5" fill="var(--bs-primary)"/>
									<ellipse opacity="0.3" cx="573" cy="606.5" rx="3" ry="2.5" fill="var(--bs-primary)"/>
								</svg>	
							</div>
							<div class="item2">
								<div class="info-widget style-10 move-3">
									<span class="content-text text-primary"><span class="counter">20</span>+</span>
									<h3 class="title m-b0">Years <br> Experienced</h3>
								</div>
							</div>
							<div class="item3">
								<div class="dz-img-box style-1 move-4">
									<div class="dz-media">
										<img src="images/logo/logo1.png" alt="">
									</div>
									<div class="dz-content">	
										<h3 class="title">ClinicMaster 2024</h3>
										<p>Quality and Accreditation Institute</p>
										<a href="javascript:void(0);" class="btn-link">Best Dermatologists</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="content-inner">
			<div class="container">
				<div class="section-head style-3 text-center wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
					<h2 class="title m-b10">All Locations</h2>
				</div>
				<div class="row">
					<div class="col-xl-3 col-md-6 m-b30 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
						<div class="dz-img-box style-4">
							<div class="dz-head">
								<h3 class="title m-b10"><img src="images/country/united_states.webp" alt=""> United State</h3>
							</div>
							<div class="dz-media">
								<img src="images/map/map1.webp" alt="">
							</div>
							<div class="dz-content">	
								<p class="m-b10">123 Health Way, Suite 456 Goodland, 78910 United States</p>
								<a href="tel:+0123-456-7890" class="text-body">+0 123-456-7890</a> 
							</div>
							<div class="dz-footer">
								<a href="https://www.google.com/maps/" target="_blank" class="icon-link-hover-end">Get Directions <i class="feather icon-arrow-up-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 m-b30 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
						<div class="dz-img-box style-4">
							<div class="dz-head">
								<h3 class="title m-b10"><img src="images/country/canada.webp" alt=""> Canada</h3>
							</div>
							<div class="dz-media">
								<img src="images/map/map2.webp" alt="">
							</div>
							<div class="dz-content">	
								<p class="m-b10">123 Health Way, Suite 456 Goodland, 78910 United States</p>
								<a href="tel:+0123-456-7890" class="text-body">+0 123-456-7890</a> 
							</div>
							<div class="dz-footer">
								<a href="https://www.google.com/maps/" target="_blank" class="icon-link-hover-end">Get Directions <i class="feather icon-arrow-up-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 m-b30 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
						<div class="dz-img-box style-4">
							<div class="dz-head">
								<h3 class="title m-b10"><img src="images/country/united_states.webp" alt=""> United State</h3>
							</div>
							<div class="dz-media">
								<img src="images/map/map1.webp" alt="">
							</div>
							<div class="dz-content">	
								<p class="m-b10">123 Health Way, Suite 456 Goodland, 78910 United States</p>
								<a href="tel:+0123-456-7890" class="text-body">+0 123-456-7890</a> 
							</div>
							<div class="dz-footer">
								<a href="https://www.google.com/maps/" target="_blank" class="icon-link-hover-end">Get Directions <i class="feather icon-arrow-up-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 m-b30 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.8s">
						<div class="dz-img-box style-4">
							<div class="dz-head">
								<h3 class="title m-b10"><img src="images/country/canada.webp" alt=""> Canada</h3>
							</div>
							<div class="dz-media">
								<img src="images/map/map2.webp" alt="">
							</div>
							<div class="dz-content">	
								<p class="m-b10">123 Health Way, Suite 456 Goodland, 78910 United States</p>
								<a href="tel:+0123-456-7890" class="text-body">+0 123-456-7890</a> 
							</div>
							<div class="dz-footer">
								<a href="https://www.google.com/maps/" target="_blank" class="icon-link-hover-end">Get Directions <i class="feather icon-arrow-up-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>
	
		<!-- Footer -->
	<footer class="site-footer style-2 footer-dark background-blend-luminosity" style="background-image: url(images/background/bg1.webp)">
		
		<!-- Footer Head -->
		<div class="footer-head">
			<div class="container">
				<div class="fh-inner">
					<div class="row align-items-center">
						<div class="col-lg-4 col-md-5 text-center text-md-start wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
							<div class="footer-logo logo-white">
								<a href="index.html"><img src="images/logo-white.svg" alt=""></a> 
							</div>
						</div>
						<div class="col-lg-8 col-md-7 text-center text-md-end wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
							<div class="m-b25">
								<a href="contact-us.html" class="btn btn-lg btn-outline-white btn-hover1">
									Contact Us
								</a>
								<a href="appointment.html" class="btn btn-lg btn-white text-primary btn-hover1 m-l20">
									Appointment
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-6 col-sm-12 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
						<div class="widget widget_about me-2">
							<h2 class="footer-title">Important Updates <br>Waiting for you</h2>
							<p>Get our latest and best contents right into your inbox</p>
							<form class="dzSubscribe style-1" action="../assets/script/mailchimp.php" method="post">
								<div class="dzSubscribeMsg"></div>
								<div class="form-group">
									<div class="input-group mb-0">
										<input name="dzEmail" required="required" type="email" class="form-control form-btn-square" placeholder="Your Email Address">
										<div class="input-group-addon">
											<button name="submit" value="Submit" type="submit" class="btn btn-sm">
												<i class="flaticon-message"></i>
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-xl-9 col-sm-12 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.8s">
						<div class="row">
							<div class="col-xl-3 col-md-3 col-6">
								<div class="widget widget_services">
									<h2 class="footer-title">Our Services </h2>
									<ul class="list-hover1">
										<li><a href="service-detail.html"><span>Emergency Care</span></a></li>
										<li><a href="service-detail.html"><span>Operation Theater</span></a></li>
										<li><a href="service-detail.html"><span>Medical Checkup</span></a></li>
										<li><a href="service-detail.html"><span>Diagnostic Center</span></a></li>
										<li><a href="service-detail.html"><span>Outdoor Checkup</span></a></li>
									</ul>   
								</div>
							</div>
							<div class="col-xl-3 col-md-3 col-6">
								<div class="widget widget_services">
									<h2 class="footer-title">Useful Links</h2>
									<ul class="list-hover1">
										<li><a href="javascript:void(0);"><span>Privacy Policy</span></a></li>
										<li><a href="javascript:void(0);"><span>Terms & Conditions</span></a></li>
										<li><a href="contact-us.html"><span>Contact Us</span></a></li>
										<li><a href="blog-grid.html"><span>Latest News</span></a></li>
										<li><a href="javascript:void(0);"><span>Our Sitemap</span></a></li>
									</ul>   
								</div>
							</div>
							<div class="col-xl-3 col-md-3 col-6">
								<div class="widget widget_services">
									<h2 class="footer-title">Our Stores</h2>
									<ul class="list-hover1">
										<li><a href="javascript:void(0);"><span>New York</span></a></li>
										<li><a href="javascript:void(0);"><span>London SF</span></a></li>
										<li><a href="javascript:void(0);"><span>Edinburgh</span></a></li>
										<li><a href="javascript:void(0);"><span>Los Angeles</span></a></li>
										<li><a href="javascript:void(0);"><span>Las Vegas</span></a></li>
									</ul>
								</div>
							</div>
							<div class="col-xl-3 col-md-3 col-6">
								<div class="widget widget_services">
									<h2 class="footer-title">Quick Links</h2>
									<ul class="list-hover1">
										<li><a href="about-us.html"><span>About Us</span></a></li>
										<li><a href="services.html"><span>Our Services</span></a></li>
										<li><a href="team.html"><span>Our Team</span></a></li>
										<li><a href="appointment.html"><span>Appointments</span></a></li>
										<li><a href="contact-us.html"><span>Contact Us</span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer Top End -->
		
		<!-- Footer Top -->
		<div class="footer-middle">
			<div class="container">
				<div class="fm-inner">
					<div class="row g-3 align-items-center">
						<div class="col-xl-3 col-md-12 col-sm-6 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
							<h3 class="title">Get in Touch with us</h3>
							<p class="text">Lorem Ipsum is simply dummy</p>
						</div>
						<div class="col-xl-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
							<div class="icon-bx-wraper style-1">
								<div class="icon-bx bg-primary">
									<span class="icon-cell">
										<i class="feather icon-phone"></i>
									</span>
								</div>
								<div class="icon-content">
									<h5 class="dz-title">Call Us</h5>
									<p><a href="tel:+11234567890" class="text-body">+1 123 456 7890</a></p>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
							<div class="icon-bx-wraper style-1">
								<div class="icon-bx bg-primary">
									<span class="icon-cell">
										<i class="feather icon-mail"></i>
									</span>
								</div>
								<div class="icon-content">
									<h5 class="dz-title">Send us a Mail</h5>
									<p><a href="mailto:info@example.com" class="text-body">info@example.com</a></p>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.8s">
							<div class="icon-bx-wraper style-1">
								<div class="icon-bx bg-primary">
									<span class="icon-cell">
										<i class="feather icon-clock"></i>
									</span>
								</div>
								<div class="icon-content">
									<h5 class="dz-title">Opening Time</h5>
									<p>Mon -Sat: 7:00 - 17:00</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Footer Bottom -->
		<div class="footer-bottom">
			<div class="container">
				<div class="fb-inner">
					<div class="row">
						<div class="col-lg-6 col-md-12 text-start"> 
							<p class="copyright-text">© <span class="current-year">2024</span> <a href="https://themeforest.net/user/dexignzone" target="_blank">DexignZone</a> Theme. All Rights Reserved.</p>
						</div>
						<div class="col-lg-6 col-md-12 text-end"> 
							<img src="images/card.webp" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer Bottom End -->
		
	</footer>
	<!-- Footer End -->
	
	<button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>

</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="../assets/js/global.min.js"></script>
<script src="../assets/vendor/popper/popper.js"></script>
<script src="../assets/vendor/tempus-dominus/js/tempus-dominus.min.js"></script>
<script src="../assets/js/dz.ajax.js"></script>
<script src="../assets/js/custom.js"></script>
</body>
</html>
