<div class="col-md-6 m-b30">
	<div class="dz-card style-4">
		<div class="dz-media">
			<img src="images/blog/middle/img1.webp" alt="">
		</div>
		<div class="dz-info">
			<div class="dz-meta">
				<ul>
					<li class="post-date">17 May 2023</li>
					<li class="post-author">By <a href="javascript:void(0);">Nashid Martines</a></li>
				</ul>
			</div>
			<h3 class="dz-title"><a href="blog-details.html">Radiant reflections expert dermatology and skin.</a></h3>
			<p>It is a long established fact that a reader will be distracted by the readable content.</p>
			<a href="blog-details.html" class="btn-link icon-link-hover-end">
				Read more <i class="feather icon-arrow-right"></i>
			</a>
		</div>
	</div>
</div>
<div class="col-md-6 m-b30">
	<div class="dz-card style-4">
		<div class="dz-media">
			<img src="images/blog/middle/img2.webp" alt="">
		</div>
		<div class="dz-info">
			<div class="dz-meta">
				<ul>
					<li class="post-date">17 May 2023</li>
					<li class="post-author">By <a href="javascript:void(0);">Nashid Martines</a></li>
				</ul>
			</div>
			<h3 class="dz-title"><a href="blog-details.html">Glow guide your path to perfect skin health</a></h3>
			<p>It is a long established fact that a reader will be distracted by the readable content.</p>
			<a href="blog-details.html" class="btn-link icon-link-hover-end">
				Read more <i class="feather icon-arrow-right"></i>
			</a>
		</div>
	</div>
</div>